
body {
  font-family : YuGothic, '游ゴシック', sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

h1 small {
  font-size: 50%;
  line-height: 2em;
}

.box {
  margin: 0 10%;
}

.box p {
  font-size: xx-large;
}

.progress-box {
  padding: 3em 0;
}

.deadline {
  padding: 3em 0;
}

.remain {
  font-size: 150%;
}

.github {
  display: block;
  margin: 5em auto;
  height: 60px;
  width:  60px;
  background-image: url(github.png);
  background-size: 100%;
  opacity: .5;
}

.github:hover {
  opacity: 1;
}

.github span {
  display: none;
}

@media screen and (max-width: 768px){
  .box {
    margin: 0 2%;
  }
}
